%h1 Listing phones

%table
  %thead
    %tr
      %th Category
      %th Area code
      %th Phone number
      %th
      %th
      %th

  %tbody
    - @phones.each do |phone|
      %tr
        %td= phone.category
        %td= phone.area_code
        %td= phone.phone_number
        %td= link_to 'Show', phone
        %td= link_to 'Edit', edit_phone_path(phone)
        %td= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Phone', new_phone_path
