= simple_form_for @renter do |f|
  .row
    .col-lg-6
      .portlet-box.portlet-gutter.ui-buttons-col.mb-30
        .portlet-header.flex-row.flex.d-flex.align-items-center.b-b
          .flex.d-flex.flex-column
            %h3 Tenant Info
            %span.portlet-subtitle Required fields are marked with asterisk *
          .portlet-tools
            = fa_icon 'address-card-o', style: 'font-size: 24px'
        .portlet-body
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .form-group
            = f.input :first_name, class: 'form-control', placeholder: 'First name'
          .form-group
            = f.input :last_name, class: 'form-control', placeholder: 'Last name'
          .form-group
            = f.input :dob, label: 'Date of Birth', class: 'form-control', placeholder: 'Date of Birth'
          .form-group
            = f.input :ssn, label: 'SSN', class: 'form-control', placeholder: 'SSN'


      .form-group
        = f.button :submit, class: 'btn btn-lg btn-primary'
        = link_to 'Cancel', :back, class: 'btn btn-link'

    .col-lg-6
      = render 'shared/nested_address_phone_email_web_no_tabs', f: f, web: false
