- content_for :page_icon do
  icon-Criminal

- content_for :page_title do
  Our
  %strong Tenants

.row
  .bg-white.table-responsive.rounded.shadow-sm.pt-3.pb-3.mb-30
    .clearfix.b-b.mb-3.pb-2
      = link_to new_renter_path, class:'btn btn-dark btn-icon float-right mr-3' do
        %i.fa.fa-plus
        New Tenant
      %h6.pl-3.pr-3.text-capitalize.font500.mb-20 Tenants List

    %table#data-table.table.mb-0{:cellspacing => "0", :width => "100%"}
      %thead.dd-none
        %tr
          %th Tasks
          %th Tenant Name
          %th Total Cases
          %th Status
          %th Created

      %tbody
        - @renters.each do |renter|
          %tr
            %td
              = link_to edit_renter_path(renter), class: 'd-inline-block ml-2 text-danger', title: 'Edit Info' do
                = fa_icon 'edit', style: 'font-size: 20px;'
              = link_to renter, class: 'd-inline-block ml-2 text-success', title: 'Reports' do
                = fa_icon 'tasks', style: 'font-size: 20px;'
              = link_to renter, class: 'd-inline-block ml-2 text-info', title: 'Cases' do
                = fa_icon 'line-chart', style: 'font-size: 20px;'
              = link_to renter, class: 'd-inline-block ml-2 text-warning', title: 'Correspondense' do
                = fa_icon 'envelope', style: 'font-size: 20px;'
            %td
              = link_to renter.full_name, renter
              .fs12.text-muted
                #{addresses(renter.addresses)}
                #{emails(renter.emails)}
                #{phones(renter.phones)}
            %td
              %span
                Cases
                %strong 3
              %br
              %span
                Pending
                %strong 23
              %br
            %td
              %span.badge.badge-text.badge-info
                = fa_icon 'circle', class: 'mr-2'
                Active
            %td
              = renter.created_at.strftime('%m/%d/%Y %I:%M %P')
