- content_for :page_icon do
  icon-Suitcase

- content_for :page_title do
  Our
  %strong Cases

.row
  .bg-white.table-responsive.rounded.shadow-sm.pt-3.pb-3.mb-30
    .clearfix.b-b.mb-3.pb-2
      = link_to new_suit_path, class:'btn btn-dark btn-icon float-right mr-3' do
        %i.fa.fa-plus
        New Case
      %h6.pl-3.pr-3.text-capitalize.font500.mb-20 Cases List

    %table#data-table.table.mb-0{:cellspacing => "0", :width => "100%"}
      %thead.dd-none
        %th Renter
        %th Court
        %th Property
        %th Rental rate
        %th Paid through
        %th Rent due
        %th Other
        %th Balance
        %th Court date
        %th Rent
        %th Cost
        %th Writ date
        %th Case num
        %th Def date
        %th File judgment
        %th File writ
        %th Paid
        %th Signed
        %th Signed date

  %tbody
    - @suits.each do |suit|
      %tr
        %td
          = link_to suit.renter.full_name, suit.renter
          .fs12.text-muted
            #{addresses(suit.renter.addresses)}
            #{emails(suit.renter.emails)}
            #{phones(suit.renter.phones)}
        %td
          = link_to suit.court.name, suit.court
          .fs12.text-muted
            #{addresses(suit.court.addresses)}
            #{emails(suit.court.emails)}
            #{phones(suit.court.phones)}
            #{websites(suit.court.websites)}
        %td
          = link_to suit.property.name, suit.property
          .fs12.text-muted
            #{addresses(suit.property.addresses)}
            #{emails(suit.property.emails)}
            #{phones(suit.property.phones)}
            #{websites(suit.property.websites)}
        %td= suit.rental_rate
        %td= suit.paid_through
        %td= suit.rent_due
        %td= suit.other
        %td= suit.balance
        %td= suit.court_date
        %td= suit.rent
        %td= suit.cost
        %td= suit.writ_date
        %td= suit.case_num
        %td= suit.file_judgment
        %td= suit.file_writ
        %td= suit.paid
        %td= suit.signed
        %td= suit.signed_date
