- content_for :page_icon do
  icon-Business-Mens

- content_for :page_title do
  Edit
  %strong= @property.name

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Properties', properties_path


= render 'form'

.row
  = link_to 'Show', @property
  \|
  = link_to 'Back', properties_path
