- content_for :page_icon do
  icon-Business-Mens

- content_for :page_title do
  Our
  %strong Clients


%h1 Listing clients

%table
  %thead
    %tr
      %th Type
      %th Name
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.type
        %td= client.name
        %td= link_to 'Show', client
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Client', new_client_path
