- content_for :page_icon do
  icon-Suitcase

- content_for :page_title do
  Upload
  %strong New Filings

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Filings', filings_path

= simple_form_for @filing do |f|
  .row
    .col-lg-6
      .portlet-box.portlet-gutter.ui-buttons-col.mb-30
        .portlet-header.flex-row.flex.d-flex.align-items-center.b-b
          .flex.d-flex.flex-column
            %h3 Select a file to upload
            -# %span.portlet-subtitle Required fields are marked with asterisk *
          .portlet-tools
            = fa_icon 'file-o', style: 'font-size: 24px'
        .portlet-body
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .form-group
            .custom-file
              = f.file_field :header_image, class: 'custom-file-input'
              = f.label :header_image, 'Choose file to be used as background', class: 'custom-file-label'

      .form-group
        = f.button :submit, class: 'btn btn-lg btn-primary'
        = link_to 'Cancel', :back, class: 'btn btn-link'

    .col-lg-6
      .portlet-box.portlet-gutter.ui-buttons-col.mb-30
        .portlet-header.flex-row.flex.d-flex.align-items-center.b-b
          .flex.d-flex.flex-column
            %h3 Rent Info
            %span.portlet-subtitle Required fields are marked with asterisk *
          .portlet-tools
            = fa_icon 'money', style: 'font-size: 24px'
        .portlet-body

          .form-group
            .form-group.date.optional.filing_court_date
              = f.label :court_date, 'Court date', class: "form-control-label date"
              .d-flex.flex-row.justify-content-between.align-items-center
                = f.text_field :court_date, class: 'form-control datepicker'

          .input-group
            = f.label :rent, 'Rent', class: "form-control-label"
            .input-group.mb-3
              .input-group-prepend
                %span.input-group-text $
              = f.text_field :rent, class: 'form-control'

          .input-group
            = f.label :cost, 'Cost', class: "form-control-label"
            .input-group.mb-3
              .input-group-prepend
                %span.input-group-text $
              = f.text_field :cost, class: 'form-control'

          .form-group
            .form-group.date.optional.filing_court_date
              = f.label :writ_date, 'Writ date', class: "form-control-label date"
              .d-flex.flex-row.justify-content-between.align-items-center
                = f.text_field :writ_date, class: 'form-control datepicker'

          .form-group
            = f.input :case_num

          .form-group
            = f.input :file_judgment

          .form-group
            = f.input :file_writ

          .form-group
            = f.input :paid

          .form-group
            = f.input :signed

          .form-group
            .form-group.date.optional.filing_court_date
              = f.label :signed_date, 'Signed date', class: "form-control-label date"
              .d-flex.flex-row.justify-content-between.align-items-center
                = f.text_field :signed_date, class: 'form-control datepicker'
