.nested-fields
  .row
    .col-md-12
      = link_to_remove_association f, class: "text-danger pull-right" do
        %i.fa.fa-times

  -# = f.input :category, collection: Address::CATEGORY

  .row
    .col-md-12
      .form-group
        = f.input :address_1, class: 'form-control', placeholder: "1234 Main St"

      .form-group
        = f.input :address_2, class: 'form-control', placeholder: "Apt, filinge, or floor"

      .form-row
        .form-group.col-md-6
          = f.input :city, class: 'form-control'
        .form-group.col-md-4
          = f.input :state, collection: Lists::STATES, include_blank: true, class: 'form-control input-lg', id: 'study_id'
        .form-group.col-md-2
          = f.input :zip, class: 'form-control'

      .form-group
        = f.input :country, priority: ["US","CA", "MX"], prompt: "Select country"

      .form-group.m-b-40.checkbox.checkbox-success.checkbox-circle
        = f.input :primary, as: :boolean, label: 'Primary Address?'
