%p#notice= notice

%p
  %b Category:
  = @address.category
%p
  %b Address 1:
  = @address.address_1
%p
  %b Address 2:
  = @address.address_2
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Zip:
  = @address.zip

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
