!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Get Rent'}"}

    %title= content_for?(:title) ? yield(:title) : 'Get Rent'

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .page-wrapper#page-wrapper
      %main{ class: 'content' }
        .container.flex.d-flex
          .row.flex.align-items-center
            .col-lg-4.mt-60.mb-60.col-md-6.col-sm-12.ml-auto.mr-auto
              .bg-white.shadow-sm.overflow-hidden.rounded
                .p-4.text-center.bg-dark-active.text-white
                  %a.avatar.avatar60.ml-auto.mr-auto.bg-gradient-primary.text-white.rounded-circle{:href => "index.html"}
                    %i.icon-Paper-Plane
                  %h5.text-center.h5.pt-10.mb-0.text-white Sidney P. Katz, PLLC
                .p-3.pt-30.pb-30
                  = render 'layouts/messages'
                  = yield

        = render 'layouts/shared/footer'
